/* Add here all your CSS customizations */
.mockup-landing-page {
    margin-top: 0 !important;
}
.feature-box.reverse {
    text-align: left;
    flex-direction: row-reverse;
}
html .call-to-action.call-to-action-primary {
    background: #848484;
    padding: 10px;
}
.container.tour-home {
    margin-top: 100px;
    margin-bottom: 80px;
}
html .testimonial-primary blockquote {
    background: #6d6d6ddb;
}
section.section.section-with-mockup {
    margin-top: 35px;
}
.container.tour-home {
    margin-top: 60px;
}
#header .header-body{
	background: #fff0;
}
html #header.header-semi-transparent .header-nav-main nav > ul > li > a.active {
    color: none;
}
html #header.header-semi-transparent .header-nav-main nav > ul > li > a.active {
    color: none;
}
#header .header-nav-main nav > ul > li > a.active{
	color: none;
}
#header .header-nav-main nav > ul > li > a.active {
    background: none;
}
.nav-pills > li.active > a, .nav-pills .nav-link.active {
    background-color: none;
}
html #header.header-transparent-bottom-border .header-body {
    border-bottom: none;
}
.col-12.col-sm-6.col-lg-4.car-rent {
    margin-bottom: 20px !important;
}
html section.section-primary {
    background-color: #b9b9b9 !important;
    border-color: #4a4a4a !important;
}