/* Add here all your CSS customizations */
.mockup-landing-page {
    margin-top: 0 !important;
}
.feature-box.reverse {
    text-align: left;
    flex-direction: row-reverse;
}
html .call-to-action.call-to-action-primary {
    background: #848484;
    padding: 10px;
}
.container.tour-home {
    margin-top: 100px;
    margin-bottom: 80px;
}
html .testimonial-primary blockquote {
    background: #6d6d6ddb;
}
section.section.section-with-mockup {
    margin-top: 35px;
}
.container.tour-home {
    margin-top: 60px;
}