/* Add here all your CSS customizations */
.mockup-landing-page {
    margin-top: 0 !important;
}
.feature-box.reverse {
    text-align: left;
    flex-direction: row-reverse;
}
html .call-to-action.call-to-action-primary {
    background: #848484;
    padding: 10px;
}
.container.tour-home {
    margin-top: 100px;
    margin-bottom: 80px;
}
html .testimonial-primary blockquote {
    background: #6d6d6ddb;
}
section.section.section-with-mockup {
    margin-top: 35px;
}
.container.tour-home {
    margin-top: 60px;
}
#header .header-body{
	background: #fff0;
}
html #header.header-semi-transparent .header-nav-main nav > ul > li > a.active {
    color: none;
}
html #header.header-semi-transparent .header-nav-main nav > ul > li > a.active {
    color: none;
}
#header .header-nav-main nav > ul > li > a.active{
	color: none;
}
#header .header-nav-main nav > ul > li > a.active {
    background: none;
}
.nav-pills > li.active > a, .nav-pills .nav-link.active {
    background-color: none;
}
html #header.header-transparent-bottom-border .header-body {
    border-bottom: none;
}
.col-12.col-sm-6.col-lg-4.car-rent {
    margin-bottom: 20px !important;
}
html section.section-primary {
    background-color: #ececec !important;
    border-color: #4a4a4a !important;
}
p.desc-text {
    color: #383838 !important;
    font-size: 16px;
}
span.thumb-info-caption.car-rent,span.thumb-info-caption.car-rent h5 {
    padding-left: 5px;
    line-height: 30px;
}
span.thumb-info-social-icons h5 {
    margin-bottom: 0;
    color: #383838 !important;
}
span.thumbnail.mb-0.img-about img {
    width: 75px;
    height: 65px;
}
#footer{
    margin-top: 0px;
}
section.parallax.section.section-text-light.section-parallax.section-center.mt-0.mb-0 {
    padding: 150px 0;
}
ul.list.list-inline.list-icons li {
    display: block;
    margin-bottom: 0px;
}
h4.desc-head {
    margin: 0 0 0px 0;
}
h5.tagline-txt {
    margin: 0 0 0px 0;
}
ul.portfolio-details.list-list {
    margin: -25px 0 0 0px;
}



